.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #509494;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.h1-text {
  background-image: linear-gradient(to left, #7928CA, #FF0080);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: var(--chakra-fontSizes-6xl);
  font-weight: 900;
}

.h2-text {
  color: #509494;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: var(--chakra-fontSizes-4xl);
  font-weight: 500;
}
