.border {
  border-right: 1px #909090 solid;
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #509494;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.h1-text {
  /*background-image: linear-gradient(90deg, rgba(58,173,80,1) 9%, rgba(80,148,148,1) 100%);*/
  background-image: radial-gradient(circle, rgba(82,196,196,1) 0%, rgba(70,252,169,1) 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 3.75rem;
  font-weight: 900;
}

.h2-text {
  color: #52c4c4;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 2.25rem;
  font-weight: 500;
}

.navActive {
  text-decoration: underline;
}

.navNotActive {
  text-decoration: none;
}
